{%- block sidenav_trigger -%}
    {% from 'parts/icons/_svg.html.twig' import svg_icon %}

    <a href="#" data-target="sidenav-content" class="sidenav-trigger show-on-large">
        {{- svg_icon({'id': 'menu', 'class': 'sym-icon__small__light'}) -}}
    </a>
{%- endblock sidenav_trigger -%}

{%- block sidenav_content -%}
    <ul id="sidenav-content" class="sidenav">
        <li>
            {{- _self.sidenav_link(
                {'route_name': 'home', 'route_params': {}, 'text': app_name},
                {'id': 'home', 'class': 'sym-icon__small__primary sym-list-icon'}
            ) -}}
        </li>

        {%- if is_granted('ROLE_USER') and app.request.attributes.get('_route') not in ['user_profile'] -%}
            <li>
                {{- _self.sidenav_link(
                    {'route_name': 'user_profile', 'route_params': {'id': app.user.id}, 'text': app.user.firstName, 'isTrans': false},
                    {'id': 'account_circle', 'class': 'sym-icon__small__primary sym-list-icon'}
                ) -}}
            </li>
        {%- endif -%}

        <li class="divider"></li>

        {%- if is_granted('ROLE_ADMIN') -%}
            <li>
                {{- _self.sidenav_link(
                    {'route_name': 'user_list', 'route_params': {}, 'text': 'Users'},
                    {'id': 'list', 'class': 'sym-icon__small__primary sym-list-icon'}
                ) -}}
            </li>
        {%- endif -%}
    </ul>
{%- endblock sidenav_content -%}

{%- macro sidenav_link(link, icon) -%}
    {% from 'parts/icons/_svg.html.twig' import svg_icon %}

    <a href="{{ path(link.route_name, link.route_params) }}" class="waves-effect">
        {{- svg_icon(icon) -}}

        {%- if link.isTrans is defined and link.isTrans -%}
            {{- link.text|trans -}}
        {%- else -%}
            {{- link.text -}}
        {%- endif -%}
    </a>
{%- endmacro sidenav_link -%}
