<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="sym-html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{%- block title -%}{{ "Welcome"|trans }}!{%- endblock title -%}</title>

        {{- block('favicons', '/parts/icons/_favicons.html.twig') -}}

        {%- block stylesheets -%}
            {{ encore_entry_link_tags('app') }}
        {%- endblock stylesheets -%}

        {%- block javascripts -%}
            {{ encore_entry_script_tags('app') }}
        {%- endblock javascripts -%}
    </head>

    <body class="sym-body">
        {%- block body -%}
            {%- block top_nav -%}{{- block('top_nav', '/parts/navs/_navbar.html.twig') -}}{%- endblock top_nav -%}

            <div class="sym-content">
                {%- block content -%}
                    <div class="sym-central">
                        <div class="sym-central-banner">
                            {%- block central_banner -%}{%- endblock central_banner -%}
                        </div>
                    </div>
                {%- endblock content -%}
            </div>

            {%- block fab_actions_button -%}
                {% from 'parts/navs/_fab-actions.html.twig' import fab_actions_button %}

                {{- fab_actions_button() -}}
            {%- endblock fab_actions_button -%}

            {%- block footer -%}{{- block('footer', '/parts/navs/_footer.html.twig') -}}{%- endblock footer -%}
            {%- block modal -%}<div id="materialize-modal" class="modal"></div>{%- endblock modal -%}
            {%- block flashes -%}{{- block('flash_container', '/parts/messages/_flashes.html.twig') -}}{%- endblock flashes -%}
            {%- block svg -%}{{- block('svg', '/parts/icons/_svg.html.twig') -}}{%- endblock svg -%}
        {%- endblock body -%}
    </body>
</html>
