<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="sym-html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{%- block title -%}{{ "Welcome"|trans }}!{%- endblock title -%}</title>

        {{- block('favicons', '/parts/icons/_favicons.html.twig') -}}

        {%- block stylesheets -%}
            {{ encore_entry_link_tags('app') }}
        {%- endblock stylesheets -%}

        {%- block javascripts -%}
            {{ encore_entry_script_tags('app') }}
        {%- endblock javascripts -%}
    </head>

    <body class="sym-body">
        {%- block body -%}
            {%- block top_nav -%}{{- block('top_nav', '/parts/navs/_navbar.html.twig') -}}{%- endblock top_nav -%}

            <div class="sym-content">{%- block content -%}{%- endblock content -%}</div>

            {%- block footer -%}{{- block('footer', '/parts/navs/_footer.html.twig') -}}{%- endblock footer -%}
            {%- block svg -%}{{- block('svg', '/parts/icons/_svg.html.twig') -}}{%- endblock svg -%}
        {%- endblock body -%}
    </body>
</html>
