{% extends 'base.html.twig' %}

{%- block title %}{{ 'Users'|trans }}{% endblock title -%}

{%- block content -%}
    {{- block('user_list') -}}

    {{- block('pagination', '/parts/navs/_pagination.html.twig') -}}
{%- endblock content -%}

{%- block user_list -%}
    <div class="sym-table-page">
        <h1>{{ 'Users'|trans }}</h1>

        <div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th scope="col">
                            <span>{{- 'ID'|trans -}}</span>
                        </th>

                        <th scope="col">
                            <span>{{- 'Email'|trans -}}</span>
                        </th>

                        <th scope="col">
                            <span>{{- 'Roles'|trans -}}</span>
                        </th>

                        <th scope="col">
                            {{- 'Actions'|trans -}}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {%- for user in users -%}
                        <tr>
                            <td>
                                <span>
                                    {{- user.id -}}
                                </span>
                            </td>

                            <td>
                                <span>
                                    {{- user.email -}}
                                </span>
                            </td>

                            <td>
                                {%- set checked = 'ROLE_ADMIN' in user.roles ? 'checked' : '' -%}

                                <label for="{{ user.id }}-roles">
                                    <input id="{{ user.id }}-roles" type="checkbox" {{ checked }} disabled/>
                                    <span>{{- 'Administrator'|trans -}}</span>
                                </label>
                            </td>

                            <td>
                                {{- _self.action_link({
                                    'route': 'user_update',
                                    'entity': user,
                                    'tooltip_text': 'Update user',
                                    'icon_id': 'update'
                                }) -}}

                                {{- _self.action_link({
                                    'route': 'user_details',
                                    'entity': user,
                                    'tooltip_text': 'Show details',
                                    'icon_id': 'read_more'
                                }) -}}

                                {{- _self.action_link({
                                    'route': 'user_confirm_delete',
                                    'entity': user,
                                    'tooltip_text': 'Delete user',
                                    'icon_id': 'person_remove'
                                }) -}}
                            </td>
                        </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>
{%- endblock user_list -%}

{%- block fab_actions_button -%}
    {% from 'parts/navs/_fab-actions.html.twig' import fab_actions_button %}

    {{- fab_actions_button({'block': 'user_fabs', 'path': 'user/_user-fabs.html.twig'})-}}
{%- endblock fab_actions_button -%}

{%- macro action_link(params) -%}
    {% from 'parts/icons/_svg.html.twig' import svg_icon %}

    <a href="{{ path(params.route, {'id': params.entity.id}) }}"
        class="waves-effect waves-teal btn-flat tooltipped modal-trigger" data-target="materialize-modal"
        data-position="bottom" data-tooltip="{{ params.tooltip_text|trans }}">
        {{- svg_icon({'id': params.icon_id, 'class': 'sym-icon__small__secondary'}) -}}
    </a>
{%- endmacro action_link -%}
