{% extends 'base.html.twig' %}

{%- block title %}{{ 'Users'|trans }}{% endblock title -%}

{%- block content -%}
    {{- block('user_list') -}}

    {{- block('pagination', '/parts/navs/_pagination.html.twig') -}}
{%- endblock content -%}

{%- block user_list -%}
    {% set can_sort = users|length > 1 %}
    {% set sort_path = 'user_list_sort' %}

    <div class="sym-table-page">
        <h1>{{ 'Users'|trans }}</h1>

        <div>
            <table data-role="data-table" class="responsive-table highlight">
                <thead>
                    <tr>
                        <th scope="col">
                            {%- if can_sort -%}{{- _self.sort_link({'sort_path': sort_path, 'sort_property': 'id'}) -}}{%- endif -%}
                            <span>{{- 'ID'|trans -}}</span>
                        </th>

                        <th scope="col">
                            {%- if can_sort -%}{{- _self.sort_link({'sort_path': sort_path, 'sort_property': 'firstName'}) -}}{%- endif -%}
                            <span>{{- 'First name'|trans -}}</span>
                        </th>

                        <th scope="col">
                            {%- if can_sort -%}{{- _self.sort_link({'sort_path': sort_path, 'sort_property': 'email'}) -}}{%- endif -%}
                            <span>{{- 'Email'|trans -}}</span>
                        </th>

                        <th scope="col">
                            {%- if can_sort -%}{{- _self.sort_link({'sort_path': sort_path, 'sort_property': 'roles'}) -}}{%- endif -%}
                            <span>{{- 'Roles'|trans -}}</span>
                        </th>

                        <th scope="col">
                            {%- if can_sort -%}{{- _self.sort_link({'sort_path': sort_path, 'sort_property': 'authType'}) -}}{%- endif -%}
                            <span>{{- 'Authentication type'|trans -}}</span>
                        </th>

                        <th scope="col">
                            {%- if can_sort -%}{{- _self.sort_link({'sort_path': sort_path, 'sort_property': 'registerAt'}) -}}{%- endif -%}
                            <span>{{- 'Registration date'|trans -}}</span>
                        </th>

                        <th scope="col">
                            {{- 'Actions'|trans -}}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {%- for user in users -%}
                        <tr>
                            <td>
                                <span data-content="id">
                                    {{- user.id -}}
                                </span>
                            </td>

                            <td>
                                <span data-field="firstName" data-type="text" data-old="{{ user.firstName }}">
                                    {{- user.firstName -}}
                                </span>
                            </td>

                            <td>
                                <span data-field="email" data-type="email" data-old="{{ user.email }}">
                                    {{- user.email -}}
                                </span>
                            </td>

                            <td>
                                {%- set isAdmin = 'ROLE_ADMIN' in user.roles -%}
                                {%- set checked = isAdmin ? 'checked' : '' -%}
                                {%- set dataOld = isAdmin ? 'ROLE_ADMIN' : 'ROLE_USER' -%}

                                <label for="{{ user.id }}-roles">
                                    <input id="{{ user.id }}-roles" type="checkbox" {{ checked }} disabled
                                           data-field="roles" data-old="{{ dataOld }}"/>
                                    <span>{{- 'Administrator'|trans -}}</span>
                                </label>
                            </td>

                            <td>
                                <span data-field="authType" data-type="text" data-old="{{ user.authType }}">
                                    {{- user.authType|capitalize -}}
                                </span>
                            </td>

                            <td>
                                <span>
                                    {{- trans_date(user.registerAt|date, "d MMM yyyy") -}}
                                </span>
                            </td>


                            <td>
                                {{- _self.action_link({
                                    'route': 'user_update',
                                    'entity': user,
                                    'tooltip_text': 'Update user',
                                    'icon_id': 'update'
                                }) -}}

                                {{- _self.action_link({
                                    'route': 'user_details',
                                    'entity': user,
                                    'tooltip_text': 'Show details',
                                    'icon_id': 'read_more'
                                }) -}}

                                {{- _self.action_link({
                                    'route': 'user_confirm_delete',
                                    'entity': user,
                                    'tooltip_text': 'Delete user',
                                    'icon_id': 'person_remove'
                                }) -}}
                            </td>
                        </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>
{%- endblock user_list -%}

{%- block csrf -%}
    <input data-role="csrf-input" type="hidden" name="token" value="{{ csrf_token('user_list') }}"/>
{%- endblock csrf -%}

{%- block fab_actions_button -%}
    {% from 'parts/navs/_fab-actions.html.twig' import fab_actions_button %}

    {{- fab_actions_button({'block': 'user_fabs', 'path': 'user/_user-fabs.html.twig', 'entities': users})-}}
{%- endblock fab_actions_button -%}

{%- macro action_link(params) -%}
    {% from 'parts/icons/_svg.html.twig' import svg_icon %}

    <a href="{{ path(params.route, {'id': params.entity.id}) }}"
        class="waves-effect waves-teal btn-flat tooltipped modal-trigger" data-target="materialize-modal"
        data-position="bottom" data-tooltip="{{ params.tooltip_text|trans }}">
        {{- svg_icon({'id': params.icon_id, 'class': 'sym-icon__small__secondary'}) -}}
    </a>
{%- endmacro action_link -%}

{%- macro sort_link(params) -%}
    {% from 'parts/icons/_svg.html.twig' import svg_icon %}

    {% set sort_params = sort_params(params) %}
    {% set icon_class = sort_params.is_active ? 'sym-icon__small__primary' : 'sym-icon__small__secondary' %}

    <a data-role="sort-link" href="{{ path(params.sort_path, {'sort_property': params.sort_property, 'sort_order': sort_params.order}) }}">
        {{- svg_icon({'id': sort_params.icon_id, 'class': icon_class}) -}}
    </a>
{%- endmacro sort_link -%}
